body{
    background-color: #EDECDD;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
body.darkmode{
    background-color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    height: auto;
    max-height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  10px 5px 10px;
}
.darkmode header{
    border: 1.5px solid #EDECDD;
}
main{
    padding: 10px;
}
.sunlight button,
.night button{
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.night button{
    display: none;
}
.brandn img{
    width: auto;
    height: 40px;
}
.sunlight img,
.night img{
    width: auto;
    height: 25px;
}
.display{
    width: 100%;
    height: 180px;
    border: 1.5px solid #111111;
    border-radius: 7px;
    margin: 20px 0 20px 0;
    overflow: hidden;
}
.darkmode .display{
    color: #EDECDD;
    border: 1.5px solid #EDECDD;
}
h1, 
p{
    text-align: right;
    margin: 0;
    padding: 15px;
    font-weight: 600;
}
h1{
    font-size: 44px;
}
p{
    font-size: 28px;
}
button{
    text-align: center;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    border: none;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
}
.firstbtn{
    display:flex;
    justify-content: flex-end;
    gap: 10px;
}
.firstbtn button{
    background-color: #E8D20F;
    color: #111111;
}


.btnkeys{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.numbers button{
    background-color: #D0CEBE;
    color: #111111;
}
.signs{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.signs button{
    background-color: #E8D20F;
    color: #111111;
}

.darkmode .night button {
    display: flex;
}

.darkmode .sunlight button {
    display: none;
}


@media(min-width: 670px){
    body{
        background-color: #060a46;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*min-height: 100vh;*/
        overflow: hidden;
    }
    body.darkmode{
        background-color: white;
    }
    header{
        margin: 0 auto;
    }
    header .darkmode{
        border-color: #111111;
    }
    main{
        max-width: 700px;
        width: auto;
        background-color: #EDECDD;
        height: 100%;
        padding: 25px;
        border-radius: 10px;
    }
    main .darkmode{
        background-color: white;
    }
    button{
    /*padding: 5px;*/
    text-align: center;
    border-radius: 50%;
    width: 141px;
    height: 141px;
}
}