body{
    background-color: #EDECDD;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
.display{
    width: 100%;
    height: 180px;
    border: 1.5px solid #111111;
    border-radius: 7px;
    margin: 40px 0 30px 0;
    overflow: hidden;
}
h1, 
p{
    text-align: right;
    margin: 0;
    padding: 15px;
    font-weight: 600;
}
h1{
    font-size: 44px;
}
p{
    font-size: 28px;
}
.operators{
    min-height: 100vh;
}
button{
    /*padding: 5px;*/
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: none;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
}
.firstbtn button{
    background-color: #E8D20F;
    color: #111111;
}
.btnkeys{
    display: flex;
    margin-top: 10px;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.numbers button{
    background-color: #D0CEBE;
    color: #111111;
}
.signs{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.signs button{
    background-color: #E8D20F;
    color: #111111;
}

.firstbtn{
    display:flex;
    justify-content: flex-end;
    gap: 35px;
}
@media(min-width: 670px){
    main{
        max-width: 400px;
    }
}