body{
    background-color: #EDECDD;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
}
.display{
    width: 100%;
    height: 180px;
    border: 1.5px solid #111111;
    border-radius: 7px;
    margin: 40px 0 30px 0;
    overflow: hidden;
}
h1, 
p{
    text-align: right;
    margin: 0;
    padding: 15px;
    font-weight: 600;
}
h1{
    font-size: 44px;
}
p{
    font-size: 28px;
}
.operators{
    /*min-height: 100vh;*/
}
button{
    text-align: center;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    border: none;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
}
.firstbtn{
    display:flex;
    justify-content: flex-end;
    gap: 10px;
}
.firstbtn button{
    background-color: #E8D20F;
    color: #111111;
}


.btnkeys{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.numbers button{
    background-color: #D0CEBE;
    color: #111111;
}
.signs{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.signs button{
    background-color: #E8D20F;
    color: #111111;
}




@media(min-width: 670px){
    body{
        background-color: #060a46;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
    }
    main{
        max-width: 700px;
        width: auto;
        background-color: #EDECDD;
        height: 100%;
        padding: 25px;
        border-radius: 10px;
    }
    button{
    /*padding: 5px;*/
    text-align: center;
    border-radius: 50%;
    width: 141px;
    height: 141px;
}
}